#contact_modal, #lightbox {
    display: none;
}

.photograph-header {
    height: 300px;
    margin: 0 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photographer-idPhoto {
    height: 200px;
    width: 200px;
    min-width: 200px;
    object-fit: cover;
    border-radius: 50%;
    order: 3;
    margin-left: 50px;
}

.photographer-name, .photographer-city, .photographer-tagline {
    font-weight: 400;
}

.photographer-name {
    color: #D3573C;
    font-size: 4em;
    margin: 0;
}

.photographer-city {
    font-size: 1.5em;
    color: #901C1C;
    margin-bottom: 20px;
}

.photographer-tagline {
    font-size: 1.125em;
}

.photographer-price {
    margin-left: 60px;
}

.price-likes-block {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 36px;
    font-size: 1.5em;
    font-weight: 500;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    padding: 16px 30px;
}

.total-like {
    display: flex;
}

.total-like-counter {
    margin-right: 4px;
}

.photograph-medias {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, max-content));
    gap: 20px 95px;
    justify-content: center;
    margin: 60px 0 80px;
}

.media-card {
    display: block;
    cursor: pointer;
}

.photo-card {
    width: 350px;
}

.photo-card-image, .video-card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.photo-card-infos {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    white-space: nowrap;
}

.photo-card-title {
   font-size: 1.5em;
   font-weight: 400;
   overflow: hidden;
   text-overflow: ellipsis;
}

.photo-card-likes {
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.contact_button {
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    order: 2;
}

.contact_button:hover, .contact_button:focus {
    background-color: #D3573C;
    color: #000;
}

#contact_modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 102vh;
    background-color: rgba(255,255,255, 0.6);
    z-index: 3;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

#modal_close_btn {
    cursor: pointer;
    appearance: none;
    border: none;
    background: none;
}

#modal_close_btn:focus {
    border: 2px solid black;
    padding: 1px;
    border-radius: 2px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    padding-left: 6px;
}

form textarea {
    width: 100%;
    height: 170px;
    resize: none;
    border: none;
    border-radius: 5px;
    padding: 6px;
    font-family: Verdana, Tahoma, sans-serif;
}

.no-scroll {
    overflow: hidden;
}

/* Lightbox */

#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fefefe;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.slider {
    width: 75%;
    height: 800px;
    margin: 0 32px;
}

.lightbox-slide {
    display: none;
    width: 100%;
    height: 100%;
}

.lightbox-slide img, .lightbox-slide video {
    max-width: 100%;
    max-height: 100%;
}

.lightbox-slide.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fade 0.6s;
}

.lightbox-slide h2 {
    color: #901C1C;
    font-size: 1.5em;
    font-weight: 400;
}

@keyframes fade {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.btn-nav {
    font-size: 5em;
    color: #901C1C;
    cursor: pointer;
    font-weight: 800;
}

#lightbox-close-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    top: 8%;
    left: 42px;
    align-self: flex-start;
}

#lightbox-close-btn:focus {
    border: 2px solid black;
    padding: 1px;
    border-radius: 2px;
}

/* like button */

.like-btn {
    align-items: center;
    background-color: rgba(255, 255, 255, .7);
    cursor: pointer;
    height: 30px;
    padding: 3px 0 0 3px;
    width: 30px;
    border: none;
}

.like-btn path {
    fill: transparent;
    stroke-width: 6px;
    stroke: #000;
    transition: .4s;
}

.like-btn.wished path  {
    fill: #901C1C;
    stroke: #fff;
}

/* Sort list */

.sort-menu {
    position: relative;
}

.sort-menu p {
    margin-right: 25px;
    font-weight: 700;
    font-size: 1.125em;
}

.sort-list {
    position: absolute;
    top: -20px;
    left: 90px;
    display: flex;
    flex-direction: column;
    width: 170px;
    background-color: #901C1C;
    border-radius: 5px;
    padding: 0 20px;
    z-index: 2;
}

.sort-items {
    font-family: "DM Sans", sans-serif;
    color: #fefefe;
    font-size: 1.125em;
    font-weight: 700;
    border: none;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    order: 1;
    display: none;
}

.sort-items:not(.actual-sorting) {
    border-top: 1px solid #fefefe;
}

.actual-sorting {
    justify-content: space-between;
    display: flex;
}

.actual-sorting.close::after {
    content: ">";
    color: white;
    transform: rotate(90deg);
}

.actual-sorting.open::after {
    content: ">";
    color: white;
    transform: rotate(-90deg);
}